* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    margin: 0 auto;
    height: 90vh;
    background-color: #EBF4FA;
    position: relative;
    z-index: 30;
}

.headertekst {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 10;
    position: relative;
    z-index: 30;
}

header img {
    width: 70%;
    position: absolute;
    top: 300px;
    display: inline-block;
    z-index: -1;
    opacity: 0.2;
}

/*------------Navigatie----------*/

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-right: 10px;
    cursor: pointer;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    color: #2b2b2b;
    display: inline-block;

}

header nav ul li a:hover {
    border-bottom: 1px solid #23C0F5;

}

nav {
    border-bottom: 1px solid #C4CDD5;
    width: 100%;
    margin: 0px auto;
    padding: 40px;
    white-space: nowrap;
    overflow: auto;

}

/*----------------------*/

.button {
    background-color: #23C0F5;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #6A7C92;
    text-align: center;
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: #454F5B;
    font-size: 2.5em;
    line-height: 1em;
}

header p {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #6A7C92;
    text-align: left;
}

h2 {
    font-family: 'Nunito', sans-serif;
    color: #454F5B;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    margin-bottom: 50px;
}

h4 {
    font-family: 'Nunito', sans-serif;
    color: #454F5B;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.6em;
    margin: 50px;
}

.naam,
.werk {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #6A7C92;
}

/* hoe werkt indo trvl*/
#hoe {
    margin-top: 105px;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    /*    width: 100vw;*/
    margin: 0 auto;
}

.flex-item {
    width: 300px;
    height: 320px;
    background-color: white;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(224, 224, 224, 0.5);
    padding: 20px;

}

.flex-item img {
    display: block;
    width: 30%;
    margin: 50px auto;
}

.flex-item h3 {
    font-family: 'Nunito', sans-serif;
    color: #454F5B;
    font-size: 1.5em;
    text-align: center;
}

.flex-item p {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #6A7C92;
}

/*----------tips--------*/

#tips {
    background-color: #EBF4FA;
    margin-top: 105px;
    width: 100%;

}

#tips h2 {
    margin-bottom: 50px;
    padding-top: 80px;
}

.flex-container-tips {
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    /*    width: 100vw;*/
    margin: 0 auto;
}

.flex-container-tips div {
    width: 302px;
    height: 340px;
    background-color: white;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(224, 224, 224, 0.5);
    padding: 0px;
    transition: -webkit-box-shadow .2s ease-in
}

.flex-container-tips div:hover {
    -webkit-box-shadow: 6px 8px 15px 10px rgba(224, 224, 224, 0.5);
}

.flex-container-tips div img {
    width: 35px;
    margin: 10px 10px;
    /*    display: block;*/
}

.flex-container-tips div img:first-of-type {
    width: 100%;
    margin: 0;
    /*    display: block;*/
}

.flex-container-tips div p {
    /*    margin-top: 10px;*/
    margin: 10px 13px;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #6A7C92;
}

.flex-container-tips div p:nth-child(4) {
    position: relative;
    margin: 0;
    bottom: 20px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
    color: #6A7C92;
}


/* ---------Formulier-------------*/

#formulier {
    padding: 50px 0px;
    background-color: #FBFBFB;
}

#formulier:target form fieldset legend {
    font-size: 3em;
    color: #23C0F5;
    transition: font-size 1.5s ease-in;

}

#formulier h2 {
    margin-bottom: 50px;
    margin-top: 80px;
}

#formulier p {
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
}


#formulier form {
    /*    width: 100%;*/
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
}

legend {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

fieldset {
    border: none;
    padding: 20px;
}


label {
    color: #6A7C92;
    text-align: center;
    width: 10px;
}

input,
select {
    font-size: 1em;
    width: 100%;
    border: 1px solid #C4CDD5;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    color: #47495A;
    margin: 10px auto;
    display: block;
}


input:focus {
    color: #00B4CC;
}

button {
    display: block;
    background-color: #23C0F5;
    width: 180px;
    height: 48px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 3px;
    color: white;
    font-size: 1em;
    transition: -webkit-box-shadow .2s ease-in
}

button:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(224, 224, 224, 0.5);
}

/*--------Hulp-------*/
#hulp {
    width: 100%;
}

#hulp img {
    display: block;
    margin: 20px auto;
}

#hulp h3 {
    font-family: 'Nunito', sans-serif;
    color: #454F5B;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 20px;
}

#hulp p {
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
}


/*--------footer------*/
footer {
    background-color: #F4F6F8;
    padding: 20px;
    margin-top: 50px;
}

footer div {
    text-align: center;
    margin-top: 10px;
}

footer h5 {
    color: #454F5B;
    margin: 10px;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
}


.socials {
    margin: 30px auto;
    width: 168px;
}

.socials img {
    display: inline-block;
    margin: 0px 10px;
}

/* PAGINA   ZOEKRESULTATEN*/
/* Counter geleerd op: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters*/
main {
    counter-reset: activiteit;
}

article h1::before {
    counter-increment: activiteit;
    content: "Activiteit "counter(activiteit) ": ";
}

.zoekresultaten-header {
    height: 45vh;

}

.zoekresultaten-header h1 {
    margin-top: 40px
}

.zoekresultaten-header h1,
.zoekresultaten-header p {
    text-align: center;
}

article {
    position: relative;
    width: 80%;
    height: 200px;
    background-color: #ffff;
    border-radius: 3px;
    margin: 17px auto;
    /*    margin-bottom: 17px;*/
    -webkit-box-shadow: 0px 8px 20px 0px rgba(224, 224, 224, 0.5);
    padding: 20px;
    transition: -webkit-box-shadow .3s ease-in;
    background-image: url('../images/Cirkels.svg');
    background-size: 700px;
    background-blend-mode: hard-light;
}

article:hover {
    -webkit-box-shadow: 10px 18px 20px 5px rgba(224, 224, 224, 0.5);
}

article img {
    /*        display: block;*/
    width: 100px;
    /*    margin: 50px auto;*/

}

article img:nth-of-type(1) {
    width: 17px;
    float: right;
    margin: 5px;
    cursor: pointer;
    z-index: 50;
}

.sterren {
    display: block;
    width: 97px;
    margin: 5px 0px;
}

article h1 {
    margin-left: 10px;
    position: absolute;
    font-size: 1em;
    display: inline;
    font-family: 'Nunito', sans-serif;
    width: 40%;
    line-height: 1.2em;
}

article p {
    font-size: 0.75em;
    text-align: left;
    /*    width: 300px;*/
    display: block;
}

article h2 {
    font-size: 1em;
    line-height: 0;
    margin: 0;
    float: right;
}

a {
    color: #454F5B;
    text-decoration: none;
}

/*--------DESKTOP-----------*/

@media (min-width: 1000px) {

    header {
        height: 80vh;
    }

    .headertekst {
        width: 450px;
        margin-left: 168px;
    }

    header p {
        font-size: 1em;
    }

    header img {
        width: 45%;
        position: absolute;
        right: 150px;
        top: 310px;
        opacity: 1;

    }


    /* hoe werkt indo trvl*/
    #hoe {
        margin-top: 105px;
        width: 100%;
    }

    #hoe h4 {
        font-size: 1.5em;
        width: 650px;
        margin: 40px auto;
    }

    .flex-container {
        width: 60vw;
    }


    /*   --------- tips--------*/
    .flex-container-tips {
        width: 60vw;
    }


    #formulier form {
        width: 60%;
    }
